.select-data-home{
  display: flex;
  justify-content: center;
}

#select-data{
    background-color: rgb(147, 159, 168);
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

#select-data .details{
    display: flex;
}


#select-data .data-detail{
    display: flex;
    flex-direction: column;
    margin: 5px 30px ;
    row-gap: 10px;
    text-align: center;
}

#select-data .title{
    font-size: 2.5rem;
}

#select-data .description{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    
}

#select-data .category{
  font-size: 1.1rem;
}

#select-data .price{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(150, 31, 31);
}

#select-data .rate{
    font-size: 1.1rem;
    font-weight: 700;
}

#select-data img{
    border-radius: 20px;
    width: 100%;
}

#select-data button{
    margin:10px  auto;
    width: 150px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

@media(max-width : 1130px){
    #select-data .details{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}