#add-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-product {
    cursor: pointer;
    display: flex;
    flex-direction: column;

}

.add-product label {
    margin: 10px;
    font-size: 1.5em;
    font-weight: 550;
}

.add-product input {
    height: 25px;
    width: 300px;
    border-radius: 5px;
    border: none;

}

#add-product button{
    margin: 30px;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-product span{
    color: rgb(126, 23, 23);
}