body {
  margin: 0;
  padding: 0;
  background-color: #245185;
}

#header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(228, 12%, 16%);
}

#header button{
  font-size: 1.1em;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  margin: 20px;
}

#logo {
  color: aliceblue;
  font-size: 1.5em;

}

#search-bar input {
  font-size: 1.3em;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dataDetails {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 10px 20px;
  background-color: #9fa4e2;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

.dataDetails img {
  border-radius: 10px;
  width: 300px;
  height: 350px
}

.dataDetails .title {
  font-size: 1.1em;
  background-color: rgb(43, 47, 68);
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  
}

.dataDetails .category {
  font-weight: 500;
}

.dataDetails .price {
  font-size: 1.05em;
  font-weight: 500;

}

.dataDetails .description {
  font-size: .9em;
}

.error-message {
  font-size: 1.6em;
  font-weight: 500;
  color: red;

}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  font-size: 2em;
  font-weight: 600;
  color: aliceblue;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: rgb(80, 139, 95) transparent rgb(167, 90, 90) transparent;
  animation: lds-hourglass 1.2s infinite;

}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}